@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("lib.jpg");
}

.container {
  display: flex;
  height: 50vh;
  width: 50vw;
  min-height: 400px;
  min-width: 400px;
  background-color: rgba(92, 108, 255, 0.3);
  border-radius: 10px;
}

.h_1 {
  margin-bottom: 20px;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  justify-content: center;
  width: 90%;
  min-width: 300px;
}

input {
  height: 35px;
  font-size: 20px;
  width: 200px;
  background-color: rgba(0, 183, 255, 0.3);
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid blue;
  transition: all 0.3s ease 0s;
}
input:hover {
  border-color: green;
  background-color: rgba(0, 13, 88, 0.3);
}
input::placeholder {
  color: rgb(213, 231, 252);
  font-size: 20px;
  font-weight: 700;
}

input:focus {
  outline: none;
}

.input-field {
  margin: 10px;
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  height: 40px;
  width: 200px;
  background-color: rgb(3, 32, 196);
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease 0s;
  font-size: 26px;
}
.btn:focus {
  border: none;
}
.btn:active {
  transform: scale(0.8);
  font-size: 20px;
}

.btn:hover {
  background-color: rgb(4, 28, 161);
  font-size: 20px;
}
